html {
    height: 100%;
}
#page-container {
    height: 100%;
}

.content-body {
    height: 100%;
    background-image: url("/images/Hexagon.svg")
}

main {
    height: 100%;
}

/*Body of Content*/
.remainder {
    margin-top: 21px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/*!* Nav (top) *!*/
#navContainer {
    width: 100%;
    padding: 8px 0 10px 0;
    border-bottom: 3px solid #3A1026;
    box-shadow: 3px 5px 15px #3A1026;
    margin-left: 0;
    margin-right: 0;
}

#navList {
    font-size: 21px;
    font-weight: 600;
    list-style: none;
    color: #3A1026;
}

/* Footer */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

li {
    color: #3A1026;
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
    list-style: none;
    text-align: center;
}

#CFHLogo {
    margin: 0 0 0 12px;
}

/* Posts */

#postContainer {
    border: 3px solid #3A1026;
    border-radius: 15px;
    background-color: #fff;
    margin: 15px 0 15px 0;
    box-shadow: 0 0px 7px #3A1026;
}

/*!* Buttons *!*/

button {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #fff;;
    text-align: center;
    transition: all .15s ease;
}

#loginBtn {
    border-radius: 10px;
    background: #D81A5E;
    border-color: #fff;
    color: #fff;
}

#loginBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#logBtn {
    border-radius: 10px;
    background: #D81A5E;
    border-color: #fff;
    color: #fff;
}

#logBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#regBtn {
    width: 30%;
    border-radius: 10px;
    background: #D81A5E;
    border-color: #fff;
    color: #fff;
}

#regBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#registerBtn {
    border-radius: 10px;
    background: transparent;
    border-color: #D81A5E;
    color: #D81A5E;
}

#registerBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#logoutBtn {
    border-radius: 10px;
    background: darkred;
    border-color: black;
    color: #fff;
}

#logoutBtn:hover {
    background: #3A1026;
    color: #fff;
}

#editBtn {
    border-radius: 10px;
    background: transparent;
    border-color: #FFAB0E;
    color: #D81A5E;
}

#editBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#submitBtn {
    padding: 5px 25px 5px 25px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;;
    text-align: center;
    transition: all .15s ease;
    border-radius: 10px;
    background: #D81A5E;
    color: #fff;
}

#submitBtn:hover {
    background: #3A1026;
    border-color: #3A1026;
    color: #fff;
}

#deleteBtn {
    border-radius: 10px;
    background: #3A1026;
    border-color: darkred;
    color: #fff;
    margin-bottom: 5px;
    width: 38%;
}

#deleteBtn:hover {
    background: #3A1026;
    color: #fff;
}

#noBtn {
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    background: white;
    border-color: #D81A5E;
    color: #3A1026;
}

#noBtn:hover {
    background:#D81A5E;
    border-color: #3A1026;
    color: #fff;
}

#yesBtn {
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    background: darkred;
    border: none;
    color: #fff;
}

#yesBtn:hover {
    background: #3A1026;
    color: #fff;
}

/* Side Nav */

#sidenav {
    color: #fff;
    font-size: 16px;
    background: rgb(219,21,89);
    background: linear-gradient(90deg, rgba(219,21,89,1) 35%, rgba(155,29,61,1) 100%);
    margin-left: 0;
    margin-right: 0;
    text-overflow: ellipsis;
}

/*User*/

#userTable {
    margin-top: 25px;
    border: 1px solid #3A1026;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 21px;
}

table {
    border: 1px solid #3A1026;
    border-radius: 10px;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

/*Backgrounds*/

#loginBackground, #registrationBackground {
    margin-top: 0;
    padding-top: 50px;
    background-image: url("/images/Hexagon.svg");
    background-size: cover;
}

#viewPostsBackground {
    margin-top: 0;
    padding-top: 35px;
    background-image: url("/images/IconGrid.svg");
    background-size: cover;
}

#homeBackground {
    margin-top: 0;
    padding-top: 35px;
    background-image: url("/images/CircuitBoard.svg");
    background-size: cover;
}

#postBackground {
    margin-top: 0;
    padding-top: 35px;
    background-image: url("/images/AnimatedShape.svg");
}

.postBackground {
    margin-top: 0;
    padding-top: 35px;
    background-image: url("/images/MassCircles.svg");
    background-size: cover;
}

/* Misc. */

#logContainer {
    margin-top: 35px;
    border: 3px solid rgba(155,29,61,1);
    border-radius: 25px;
    background-color: #fff;
    padding: 23px;
}

#registerContainer {
    margin-top: 35px;
    border: 3px solid rgba(155,29,61,1);
    border-radius: 25px;
    background-color: #fff;
    padding: 23px;
}

hr {
    margin: 0;
    background-color: #fff;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

#postTitleInput {
    width: 100%;
    border: 4px solid #3A1026;
    padding-left: 15px;
    border-radius: 0;
}

#postBodyInput {
    width: 100%;
    border: 4px solid #3A1026;
    padding: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}