<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <title>Wallees Home Page</title>
    <link rel="stylesheet" href="style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class ="body">

<!--This is the navbar-->
<nav>
    <ul class="NavUL">
        <li class="NAVli"> WALLEES </li>
        <li class="NAVli"><a href="index.html">Home</a></li>
        <li class="NAVli"><a href="Users.html">Users</a></li>
        <li class="NAVli"><a href="CreatePost.html">New Post</a></li>
        <li class="NAVli"><a href="Login.html">Login/Logout</a></li>
        <li class="NAVli"><a href="Register.html">Register</a></li>
    </ul>
</nav>

<div class="sidenav">
    <a href="#first">Post 1</a>
    <a href="#second">Post 2</a>
    <a href="#third">Post 3</a>
    <a href="#fourth">Post 4</a>
    <a href="#fifth">Post 5</a>
</div>

<div class="notsidebar">
    <h1 class="h1a">Blogpocalypse</h1>
    <hr>
    <img class="img1" src="Colin.jpg" alt="Photo of something?">
    <figcaption><sub>
        <p>(I don't know I'm just making a spot where we might put in something to separate the nav bar from the blog posts.)</p>
        <p>and showcasing that I can make emojis and maybe we can make use of that</p>
        <div class="sadface"></div>
    </sub></figcaption>
    <div class="latest">
        <h2>Placeholder header for Most Recent Post</h2>
        <p>Placeholder blogpost body of text! These three placeholder blog posts are to fulfill the requirement that the project display the three most recent blog posts on the home page.</p>
    </div>

    <div class="second">
        <h2>Placeholder header for Second Most Recent Post</h2>

        <ul>
            <li> I am unsure how we will format this information with respect to linking it to the information stored in our backend!</li>
            <li>So I put some Line items in just in case it would help to have multiple options for formatting. </li>

        </ul>
    </div>

    <div class="third">
        <h2>Placeholder header for Third Most Recent Post</h2>
        <p>Here is my final example blog post. So far I can't claim to have bettered humanity in any concrete or measurable way, BUT stay tuned, my code is in alpha. Once this project hits beta testing, you'll see. And by the time it releases, it'll be too late.</p>
    </div>
</div>


<!-- I have no idea if we will need this but I figured why not import it. -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>